.root {
  text-align: center;
}

.root__heading {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  margin: 0;
}

.root__section {
  margin: $gutter-vertical 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.root__form-item {
  margin: 0 $gutter-horizontal;

  @media only (max-width: 480px) {
    margin: $gutter-vertical 0;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
